<h1>
  Actor #<%= @the_actor.id %> details
</h1>
<a href="/actors" class="btn btn-block btn-outline-secondary">
  Go back
</a>
<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @the_actor.name %> 
  </dd>

  <dt>
    DOB
  </dt>
  <dd>
    <%= @the_actor.dob %> 
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @the_actor.bio %> 
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <%= @the_actor.image %> 
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.updated_at) %> ago
  </dd>
</dl>
<hr>

<h2>Filmography</h2>
<table border="1"> 
 <tr> 
    <th>
      Title
    </th>
    <th>
      Year
    </th>
    <th>
      Director
    </th>
    <th>
      Character name
    </th>
    <th>
    </th>
  
  
  
 <% @the_list_of_characters.each do |a_character| %>
  <tr>
    <td>
      <% m = Movie.where({ :id => a_character.movie_id}).at(0) %>
      <%= m.title %>
    </td>
    <td>
      <%= m.year %>
    </td>
    <td>
       <% d = Director.where({ :id => m.director_id}).at(0) %>
      <%= d.name %>
    </td>
    <td>
      <%= a_character.name %>
    </td>
    <td>
      <a href="/movies/<%=a_character.movie_id %>">
        Show details
      </a>
    </td>
  </tr>
<% end %>
</table>
